.row, .counter{
    display : flex;
    justify-content: start;
    align-items : center;
}

.row .col:nth-child(2){
    padding: 0 1em;
}

span {
    padding: 1em 0.8em;
}

.col {
    width: 50%;
    text-align : start;
}

.col .row {
    padding: 1em 0;
    
}

.card-img {
    margin : 0.5em;
    width : 98%;
    border-radius : 1em;
    background-color: #f0f0f0;
}

.card-img img{
    width : 100%;
    height : 100%;
    object-fit : cover;
}

.others > * {
    width : 100%;
}

.counter {
    margin: 1em 0 0;
    justify-content: space-around;
    border-radius : 8em;
    background-color: #f0f0f0;
    padding : 0.1em;
    width: 30%;
    font-size: 20px;
}

.divider {
    background-color: #f0f0f0;
    width: 95%;
    height: 1px;
}

.last-row{
    width: 100%;
    line-height: 0.5em;
    text-align: start;
}

.last-row > p > span {
    color: rgb(230, 163, 39);
    font-weight: bold;
    padding: 0;
}

.last-row > span {
    padding: 0.3em;
}

.btn-outline {
    color: #023f2a;
    border: 1px solid #023f2a;
    background-color: #fafafa;
    border-radius: 8em;
    padding: 0.9em;
    width: 30%;
    margin: 0 1.5em;
    transition: 0.5s all linear;
}

.btn-outline:hover {
    color: white;
    background-color: #023f2a;
}

.btn-filled {
    color: white;
    background-color: #023f2a;
    border-radius: 8em;
    width: 30%;
    padding: 0.9em;
}

.uptile, .downtile {
    line-height: 0;
    border: 1px solid #f0f0f0;
    width: 70%;
    padding: 1em 0.5em;
}

.uptile {
    border-radius: 0.7em 0.7em 0 0;
}

.downtile {
    border-radius: 0 0 0.7em 0.7em;
}

.filled{
    font-weight: bolder;
}

.bland {
    color: #d8d8d8;
}

.pad {
    padding: 0.5em 0;
}

#show {
    position: relative;
}

li > .card{
    position: absolute;
    z-index: 2;
    margin: 0 0 0 -10em;
    width: 100vh;
    opacity: 0;
    border-radius: 1em;
    background-color: white;
    transition: 0.8s all linear;
}

#show:focus-within .card  {
    opacity: 1;
    margin: 2em 0 0 -10em;
    pointer-events: none;
}

.card{
    text-align: start;
    padding: 1em;
    width: 100%;
}

.card .row {
    flex-wrap: wrap;
    justify-content: start;
}
.card-category > .col > * {
    width: 100%;
}

.card-category{
    width: 45%;
    height: 8em;
    background-color: #f0f0f0;
    border-radius: 1em;
    display:flex;
    gap : 1em;
    margin: 0.5em;
}

